image: Visual Studio 2017

platform:
  - x86

cache:
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product ruby '2.5.0' x86
  - git clone https://github.com/jeffpar/mandelbot
  - cd mandelbot
  - git submodule update --init --recursive
  - gem install bundler
  - bundle install
  - bundle exec jekyll build
  - cd ..

build: off

test: off

artifacts:
  - path: 'mandelbot\_site'

on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
