image: Visual Studio 2017

platform:
  - x86

cache:
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - appveyor DownloadFile https://github.com/openworm/org.geppetto/releases/download/v0.3.7-alpha/geppetto-0.3.7.zip

build: off

test: off

artifacts:
  - path: 'geppetto-0.3.7.zip'
